html{
	body{
		.education-school{
			.slick-list{
				width: 270px;
				height: 58px;
				overflow: hidden;
			}
			.slick-dots{
				display: none !important;
			}
			.slick-prev{
				position: absolute;
				left: 0;		
				top:50%;	
			}
			.slick-next{
				position: absolute;
				right: 0;
				top:50%;	
			}



		}

		.review-box{
			.major{
				h4{
					a{
						line-height:26px !important;
					}
				}
			}
		}
		
		#threeNodes{
			width:305px !important;
			margin-top:30px !important;
			margin-left:60px !important;
		}

	}
}

